
@{
	ViewBag.Title = "Create";

	var image = "/Content/images/Default/DefaultImage.png";

}

<h2>Create Category</h2>

<form id="createCategoryForm">

	<div class="row">
		<div class="col-md-8">
			<div class="form-group">
				<input class="form-control" name="Name" placeholder="Enter Category name here" />
			</div>
			<br />
			<div class="form-group">
				<input class="form-control" name="Description" placeholder="Enter Category Description here" />
			</div>

			<br />
			<label>IsFeatured?</label>
			<input name="IsFeatured" type="radio" value="True" /> True
			<input name="IsFeatured" type="radio" value="False" /> False

			<br />

			<div class="form-group">
				<label>Select Image</label>
				<input class="form-control" id="Imagepath" name="Imagepath" type="hidden" />
				<input class="form-control" id="imageUpload" name="Image" type="file" />
			</div>
			<br />
			<button class="btn btn-primary" id="SaveBtn" type="button">Save</button>

			<button class="btn btn-primary" id="CancelBtn" type="button">Cancel</button>

		</div>
		<div class="col-md-4">
			<div class="thumb">
				<img src="@image" height="200" width="250" class="img-thumbnail img-fluid" id="image" />
			</div>
		</div>
	</div>



</form>

<script>


	$("#createCategoryForm").validate({
		rules: {
			Name: {
				required: true,
				minlength: 2,
				maxlength: 50
			},
			Description: {
				maxlength: 150	
			}
		},
		messages: {
			Name: {
				required: 'Name Field is required',
				minlength: 'Minimum Length is 2',
				maxlength: 'Maximum Length is 50'
			},
			Description: {
				maxlength: 'Maximum Length is 150'	
			}
	}
	})


	$("#imageUpload").change(function () {
		var element = this;

		var formData = new FormData();

		var totalFiles = element.files.length;

		for (var i = 0; i < totalFiles; i++) {
			var file = element.files[i];
			formData.append("Photo", file);
		}

		$.ajax({
			type: 'POST',
			url: '@Url.Action("UploadImage","Shared")', //'/Shared/UploadImage',
			dataType: 'json',
			data: formData,
			contentType: false,
			processData: false
		})
			.done(function (response) {
				if (response.Success) {
					$("#image").attr("src", response.ImageURL);
					$("#Imagepath").val(response.ImageURL);
				}
			})
			.fail(function (XMLHttpRequest, textStatus, errorThrown) {
				alert("Ajax Request Failed");
			});
	});
	$("#SaveBtn").click(function myfunction() {
		if ($("#createCategoryForm").valid()) {
			$.ajax({
			type: "Post",
			url: '@Url.Action("Create","Category")',   // '/Category/Create',
			data: $("#createCategoryForm").serialize()

		})
			.done(function (response) {
				$("#tableContainer").html(response);
				$("#createCategory").html("");
				focusAction("tableContainer");
			})
			.fail(function (XMLHttpRequest, textStatus, errorThrown) {
				swal({
			title: "Warning",
			text: "Please fill the required fields",
			icon: "warning",
			 buttons: true,
			 dangerMode: true,
			})
			});
		}
		else {
	        swal({
			title: "Warning",
			text: "Please fill the valid data in fields",
			icon: "warning",
			 buttons: true,
			 dangerMode: true,
			})
		}
		});
		

	$("#CancelBtn").click(function myfunction() {
		$("#createCategory").html("");
		focusAction("tableContainer");

	});




</script>

