
@{
	ViewBag.Title = "Create";
}

<h2>Create Category</h2>

<form id="createCategoryForm">
	<div class="form-group">
		<input class="form-control" name="Name" placeholder="Enter Category name here" />
	</div>
	<br />
	<div class="form-group">
		<input class="form-control" name="Description" placeholder="Enter Category Description here" />
	</div>

	<br />
	<label>IsFeatured?</label>
	<input name="IsFeatured" type="radio" value="True" /> True
	<input name="IsFeatured" type="radio" value="False" /> False

	<br />

	<div class="form-group">
		<label>Select Image</label>
		<input class="form-control" id="Imagepath" name="Imagepath" type="hidden" />
		<input class="form-control" id="imageUpload" name="Image" type="file" />
	</div>
	<br />

	<div class="form-group">
		<img class="form-control" id="image" />
	</div>
	<br />

	<button class="btn btn-primary" id="SaveBtn" type="button">Save</button>

</form>

<script>
	$("#imageUpload").change(function () {
		var element = this;

		var formData = new FormData();

		var totalFiles = element.files.length;

		for (var i = 0; i < totalFiles; i++) {
			var file = element.files[i];
			formData.append("Photo", file);
		}

		$.ajax({
			type: 'POST',
			url: '/Shared/UploadImage',
			dataType: 'json',
			data: formData,
			contentType: false,
			processData: false
		})
			.done(function (response) {
				if (response.Success) {
					$("#image").attr("src", response.ImageURL);
					$("#Imagepath").val(response.ImageURL);
				}
			})
			.fail(function (XMLHttpRequest, textStatus, errorThrown) {
				alert("Ajax Request Failed");
			});
	});
    $("#SaveBtn").click(function myfunction() {
		$.ajax({
			type: "Post",
			url: '/Category/Create',
			data: $("#createCategoryForm").serialize()

		})
			.done(function (response) {
				$("#tableContainer").html(response);
				$("#createCategory").html("");
			})
			.fail(function (XMLHttpRequest, textStatus, errorThrown) {
				alert("Ajax Request Failed");
			});
	});

</script>

