@model List<ApnaBazaar.Entities.Category>
@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="tableContainer">
	@{
		Html.RenderAction("CategoriesTable");
	}
</div>

<div id="createCategory"></div>