@model SearchOrderViewModel

@{
	ViewBag.Title = "Search Order";
}


	<section class="flat-row flat-iconbox">
		<div class="row">
			<div class="col-md-12">
				<div class="title-section">
					<h1 class="title">Orders</h1>
				</div><!-- /.page-title-heading -->
			</div><!-- /.col-md-12 -->
		</div>
		<div id="tableContainer">

			@{
				Html.RenderAction("OrderTable");
			}

		</div>

		
	</section>

@*<script>
		$("#searchBtn").click(function myfunction(){
		var searchvalue = $("#searchText").val();
		$.ajax({
			url: '@Url.Action("Search","Order")', // '/Product/ProductTable',
			data:
			{
				searchUserId: searchvalue
			},
		})
        .done(function (response) {
        	$("#tableContainer").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("Ajax Request Failed");
        });
		});

	$("#resetBtn").click(function myfunction(){
		var searchvalue = '';
		$.ajax({
			url: '@Url.Action("Search","Order")', //'/Product/ProductTable',
			data:
			{
				search: searchvalue
			},
		})
        .done(function (response) {
        	$("#tableContainer").html(response);
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("Ajax Request Failed");
        });
	});
</script>*@


@*<script>
	$(".PageRecords").click(function myfunction() {
		var url = $(this).attr("data-href");
		if (url != "" || url != undefined) {
			GetPaginationData(url);
		}
		else {
			swal({
				title: "Warning",
				text: "Please click the page number correctly",
				icon: "warning",
				buttons: true,
				dangerMode: true,
			})
		}
	});


	function GetPaginationData(DUrl) {
		$.ajax({
			url: DUrl
		})
			.done(function (response) {
				console.log(response);

				$("#tableContainer").html(response);
				focusAction("OrdersTable");
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        	alert("Ajax Request Failed");
		});
	}

	function focusAction(DivToFocus) {
		$('html,body').animate({
			scrollTop: $("#" + DivToFocus).offset().top - 100
		}, 1000);
	}

</script>*@