@model ApnaBazaarConfiguration

	<div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Edit Configuration</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Key:</label>
							<input type="text" class="form-control" id="key" value="@Model.Key" disabled>
						</div>
						<div class="form-group">
							<label for="message-text" class="col-form-label">Value:</label>
							<input type="text" class="form-control" id="Value" value="@Model.Value">

						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="Edit">Edit</button>
				</div>
			</div>
		</div>
	</div>


	<script>
		$("#Edit").click(function myfunction() {
		var key = $("#key").val();
		var value = $("#Value").val();

		$.ajax({
			type: 'post',
			url: '@Url.Action("Edit","Configuration")', // '/Product/ProductTable',
			data:
			{
				Key: key,
				Value: value
			}
		})
			.done(function (response) {

			$("div").remove(".modal-backdrop","fade","show");
			$("#tableContainer").html(response);
			swal("Done", "Configuration Added Successfully.", "success");
			
        })
			.fail(function (XMLHttpRequest, textStatus, errorThrown) {
				console.log(errorThrown);
        	alert("Ajax Request Failed");
        });

	});
	</script>

